body{
    background-color: #d81daf;
}
.loginpage_main{
    display: flex;
    margin-top: 10px;
    margin-left: -65px;
}
.loginpage_logo{
    width: 275px; 
    margin-top: 25px;   
}
.loginpage_rightcomponent{
    width: 350px;
    padding-bottom: 25px;
    
    margin-top: 20px;
    text-align: center; 
    background-color: rgb(162, 212, 224);
}

.loginpage_text{
    width: 258px;
    height: 36px;
    margin: 10px;
    border: 1px solid #9fd0e4;
    background-color: #92cdcf;
    padding-left: 10px; 
    border-radius: 5px;
}
.login_button{
    width: 270px;
    height: 36px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 5px;
    border: 1px solid #0395F6;
    background-color: #0395F6;
    color: white;
}
.login_ordiv{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.login_dividor{
    width: 80px;
    height: 0px;
    margin-top: 10px;
    border: 1px solid #DBDBDB;
}
.login_or{
    margin: 0px 10px;
    font-weight: bold;
    color: #8E8E8E;
}
.login_fb{
    color: #395185;
    font-weight: bold;
    margin-top: 20px;
}
.login_forgt{
    color: rgba(var(--fe0,0,55,107),1);
    font-size: 12px;
    line-height: 14px;
    margin-top: 12px;
    text-align: center;
}
.loginpage_signupoption{
    margin-top: 25px;
    height: 56px;
    width: 350px;
    border: 1px solid #DBDBDB;
    background-color: white;
    text-align: center;
}

.loginpage_downloadsection{
    height: 105px;
    width: 350px;
    text-align: center;
    margin-top: 20px;

}
.loginpage_option{
    margin-top: 20px;

}
.loginpage_dwing{

    margin: 5px;
}
.loginpage_signin{
    margin-top:20px;
}
.loginpage_signup{
    margin-top:20px;
}
